div#newsItemContainer {
  margin-block: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline: 0.5rem;
  cursor: pointer;
}

div#newsItemContainer:hover {
  border: 0.1rem solid var(--auxiliar-color-default);
  box-shadow: 0.1rem 0.1rem 0.3rem var(--second-color);
  box-sizing: border-box;
}

div#newsItemContainer img {
  border: 0.5rem solid var(--auxiliar-color-default);
  box-shadow: 0.1rem 0.1rem 0.4rem var(--first-color);
  width: 20%;
  height: 20%;
}

div#newsItemContainer:hover img {
  opacity: 0.5;
}

div#newsItemContainer p {
  margin-left: 1rem;
  display: flex;
  flex-direction: column-reverse;

}

div#newsItemContainer p span#dateNewsItem {
  font-size: 1rem;
  display: flex;
  justify-content: right;
}

div#newsItemContainer p span#titleNewsItem {
  font-size: 1.2rem;
  font-weight: bold;
}

div#newsItemContainer:hover p span#titleNewsItem {
  text-decoration: underline;
}