input.textInputForm,
input.emailInputForm,
input.dateInputForm {
  border: 0.1rem solid var(--border-color);
  border-radius: 0.5rem;
  min-height: 2rem;
  margin-block: 1.5rem;
  padding: 1rem 1.5rem;
  transition: all 0.3s ease;
}

input.textInputForm,
input.emailInputForm,
input.dateInputForm {
  width: 30rem;
}

input.textInputForm:hover,
input.emailInputForm:hover,
input.dateInputForm:hover {
  background: var(--background-color-light);
  box-shadow: 0.1rem 0.1rem 0.5rem var(--first-color);
}

input.textInputForm::placeholder,
input.emailInputForm::placeholder {
  color: var(--auxiliar-color-neutral);
  font-size: 1.5rem;
}

input.radioInputForm {
  zoom: 1.5;
}

input.rangeInputForm {
  width: 30rem;
  cursor: pointer;
}

input.rangeInputForm:hover {
  box-shadow: 0.1rem 0.1rem 4rem var(--first-color-opacity);
}

div.textInputContainer,
div.emailInputContainer,
div.dateInputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
}

div.textInputContainer:focus-within label,
div.emailInputContainer:focus-within label,
div.dateInputContainer:focus-within label,
div.textInputContainer .filled,
div.emailInputContainer .filled {
  background: var(--background-color-light);
  color: var(--first-color);
  padding-inline: 0.5rem;
  transform: translate(0rem, 1rem) scale(0.8);
  transition: all 0.3s ease-in-out;
}

div.textInputContainer label,
div.emailInputContainer label,
div.dateInputContainer label {
  color: var(--auxiliar-color-neutral);
  font-size: 1.6rem;
  line-height: 1;
  position: absolute;
  left: 1.4rem;
  pointer-events: none;
  transform: translate(0rem, 2.9rem) scale(1);
  transform-origin: top left;
  transition: 0.2s cubic-bezier(0, 0, 0.2, 1) 0s;
}

div.dateInputContainer:focus-within label {
  display: block;
}

div.dateInputContainer label {
  display: none;
}