@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --auxiliar-color-icon-facebook: #0E8EF2;
  --auxiliar-color-icon-instagram: #FD5949;
  --auxiliar-color-icon-contact: #EED202;

  --background-color-light: #EEEEEE;
  --background-shadow-color: #00000099;
  
  --border-color-default: #FFFFFF;
  --border-color: #CECECE;
  
  --first-color: #0033FF;
  --second-color: #000066;
  --third-color: #66FF00;
  --auxiliar-color-default: #FFFFFF;
  --auxiliar-color-neutral: #BBBBBB;
  
  --shadow-color: #00000099;
  --first-color-opacity: #0033FF4D;
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  background: var(--background-color-light);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
}

.viewInterface {
  background: var(--auxiliar-color-default);
  box-shadow: 0rem 0rem 1rem var(--second-color);
  width: 100rem;
  margin: -2rem auto 0rem auto;
  padding: 1rem;
}

.viewHeaderText {
  font-size: 1.7rem;
  text-align: center;
  padding: 2rem 2rem 0rem 2rem;
}

.titleArticle {
  background: var(--second-color);
  color: var(--third-color);
  font-size: 2rem;
  margin: 1rem 0rem;
  padding: 0.5rem 0rem 0.5rem 1rem;
}

form.ordersFormContainer {
  width: 72rem;
  margin: auto;
}

form.ordersFormContainer fieldset {
  border-color: var(--auxiliar-color-default);
  border-radius: 1rem;
  margin-block: 0rem;
}

form.ordersFormContainer fieldset legend {
  padding-inline: 1.0rem;
  color: var(--second-color);
  font-size: 1.5rem;
  font-weight: bold;
}

form.ordersFormContainer fieldset input {
  font-size: 1.5rem;
  opacity: 0.6;
}

.inputRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.alignRight {
  text-align: right;
}