@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --auxiliar-color-icon-facebook: #0E8EF2;
  --auxiliar-color-icon-instagram: #FD5949;
  --auxiliar-color-icon-contact: #EED202;

  --background-color-light: #EEEEEE;
  --background-shadow-color: #00000099;
  
  --border-color-default: #FFFFFF;
  
  --first-color: #0033FF;
  --second-color: #000066;
  --third-color: #66FF00;
  --auxiliar-color-default: #FFFFFF;
  
  --shadow-color: #00000099;
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  background: var(--background-color-light);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
}

.titleArticle {
  background: var(--second-color);
  color: var(--third-color);
  font-size: 2rem;
  margin: 1rem 0rem;
  padding: 0.5rem 0rem 0.5rem 1rem;
}

.alignRight {
  text-align: right;
}